body {
    color: rgb(0, 0, 0);
    font-family: Arial black;
    background-image: url(Image/founde.jpg);
    margin: 4em;
}
    .cadre{ border: 1px solid black; padding: 5px; }
div
{
    background-color: rgb(188, 12, 129);
    border: 10px solid black;
    border-radius: 20px;
    width: 750px;
    opacity: 80%;
    z-index: 2;
    
}

h1,a,p,li {color: rgb(0, 0, 0);}