body {
    background-image: url(Image/founde.jpg);
    text-align: center;
}
.grille { 
    max-width: 1300px; 
    width: 80%; 
    height: auto;
    margin: 30px ;
    margin-top: 100px;
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}
.grid-item {
    text-align:center;
    max-width: 300px;
    max-height: 200px;
    background:rgba(214, 211, 20, 0.95);
    border-radius: 5px;
    font-size:1em;
    font-family:Georgia;
    
}
img{
    max-width:160px;
    max-height:160px;
    border-radius:1px;
}
header{
	position:absolute;
	text-align: center;
    background-color: rgba(96, 0, 186,50%);
	width: 1100px;
	height: 80px;
	border-radius: 20px;
	font-size: 1.3em;
    margin-top:5px;
    top:5px;
    left:10px;
}
aside{
	position: absolute;
	top:10px;
	left:1200px;
	width:260px;
	height:430px;
	text-align: center;
	font-size:1.3em;
    color:blue;
	border: 1px solid black;
    border-radius: 20px;
    background:rgba(169, 17, 17, 0.9);
}